.wrapper {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper:hover::before {
    opacity: 0.2;
}

.selectbox {
    padding: 7px;
    border: 2px solid #C4C4C4;
    border-radius: 5px;
    color: #5e5752;
}

.selectbox-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 15px 0;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px 0 ;
}

.col {
    margin-bottom: 20px;
    transition: transform 0.5s
}

.col:hover {
    transform: scale(1.1);
}

.tags-wrapper {
    display: flex;
    gap: 7px;
}

@media (max-width: 750px) {
    .row {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 750px) {
    .row {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 994px) {
    .row {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .row {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1450px) {
    .row {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.image {
    width: 100%;
    transition: transform 0.5s;
}

.project-label {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px;
    font-size: 1.3rem;
    text-align: center;
}

.project-description {
    margin-top: 10px;
    font-size: 0.82rem;
    color: #31312d;
    text-align: center;
}

.service-type-tag {
    display: inline-block;
    width: auto;
    font-size: 0.7rem;
    background-color: #5d4c27;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 7px;
}

.hover-animation {
    position: relative;
    overflow: hidden;
}

.anchor-class {
    text-decoration: none;
    color: #000000;
}
