body {
  font-size: 16px;
  color: #333;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-color: #81BFC8;
  --dark-blue: #496f75;
  --anke-gray: #46312c;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
}

.layout > * {
  grid-column: 2;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  gap:15px;
}

.not-found-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 1rem;
  text-align: center;
}

.not-found-text {
  color: #5e5752;
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
}

.not-found-link-item {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--dark-blue);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.not-found-link-item:hover {
  color: var(--main-color);
}

.slide-down {
  animation: slide-down 0.5s ease-in-out;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.slide-left {
  animation: slide-left 0.75s ease-in-out;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-right {
  animation: slide-right 0.75s ease-in-out;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 560px) {
  .not-found-title {
    font-size: 1.5rem;
  }

  .not-found-text {
    font-size: 0.8rem;
  }

  .not-found-link-item {
    font-size: 1rem;
  }

  .links-wrapper {
    padding: 2rem 0;
  }

}